*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 232, 232)
}
.container{
    display: flex;
    flex-wrap: wrap;
   
    color: rgb(112, 112, 112);
}
.box{
    margin: 20px ;
    text-align: left;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    box-shadow: 1px 0 7px 1px black;

}
.img{
   width:inherit;
}
p{
    padding: 5px 10px;
    font-family:cursive
}
img+P{
margin-top: 20px;
}

p:last-child{
    margin-bottom: 30px;
}
.latlong{

    overflow-wrap: break-word;
}
strong{
    color: black;
}
span{
    background-color: rgb(46, 209, 46);
    color: white;
    padding: 3px;
    border-radius: 3px;
}